.about-container{
   display: flex;
   flex-direction: column;

   .top-container{
      display: flex;
      flex-direction: row;
      width: 100%;

   }

   .top-container-left{
      display: flex;
      flex-direction: column;
      max-width: 50vw;
      padding: 50px;
      gap: 4px;

      button{
         margin-top: 30px;
      }
   }

   .top-container-right{
      
      .image-3{
         box-sizing: border-box;
         position: absolute;
         width: 264.37px;
         height: 315.86px;
         left: 1000px;
         top: 140px;
         border: 1px solid #F4C0DB;
         border-radius: 5px;
         object-fit: cover;
      }

      .image-1{
         box-sizing: border-box;
         position: absolute;
         width: 264.37px;
         height: 315.86px;
         top: 270.74px;
         left: 1200px;
         transform: rotate(-4.56deg);
         border: 1px solid #F4C0DB;
         border-radius: 5px;
         object-fit: cover;
      }
   }

   .middle-container{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 20px;

      .middle-title{
         display: flex;
         justify-content: center;
         margin-bottom: 20px;
      }

      .middle-middle{
         display: flex;
         flex-direction: row;
      }

      .middle-left-container{
         position: relative;
         display: flex;
         width: 50vw;
         left: 250px;
         top: -100px;

         .circle-1 {
            position: absolute;
            display: flex;
            flex-direction: row;
            top: 129px;
            left: 71px;
            gap: 5px;
            padding: 3px;
            margin-bottom: 2px;
   
         }

         .circle-2{
            position: absolute;
            display: flex;
            flex-direction: row;
            top: 143px;
            left: 69px;
            gap: 5px;
            padding: 5px;
            margin-bottom: 2px;
         }

         .circle-3{
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 128px;
            left: 55px;
            gap: 5px;
            padding: 5px;
         }
         .circle-4{
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 130px;
            left: 40px;
            gap: 5px;
            padding: 3px;
         }

         // .double-circle{
         //    display: flex;
         //    flex-direction: row;
         // }

         .circle{
            width: 11px;
            height: 11px;
            border: 1px solid var(--green);
            border-radius: 20px;
            background-color: var(--green);
            transform: rotate(-90deg);
            gap: 20px;
         }

         .about-image{

      box-sizing: border-box;
      
      position: absolute;
      width: 300px;
      height: 315.86px;
      left: 75px;
      top: 163px;
      /* Pink */
      
      border: 1px solid #F4C0DB;
      border-radius: 5px;
      object-fit: cover;
            
         }

         .square{
            position: absolute;
            width: 300px;
            height: 300px;
            background-color: var(--green);
            top: 190px;
            left: 82px;
         }
      }

      .middle-container-right{
         display: flex;
         flex-direction: column;
         text-align:justify;
         align-items: flex-start;
         width: 55vw;
         gap: 15px;
         font-family: var(--medium-font);

         .text-1{
            width: 45vw;
         }
         .text{
            font-family: var(--medium-font) !important;
            font-size: 15px;
         }
      }

      .bottom-button{
         display: flex;
         justify-content: center;
         left: 800px;
      }
      
   }
}

//RESPONSIVE

@media screen and (max-width: 1500px) {
   .top-container{
      display: flex;
      flex-direction: row;

      .top-container-right{

         .image-3{
            left: 850px;
            top: 140px;

         }

         .image-1{
            left: 1000px;
            top: 240px;

         }
      }
   }


      .middle-left-container{
         left: 50px !important;
      }
}

// @media screen and (max-width: 1280px) {
//    .top-container{
//       display: flex;
//       flex-direction: row;

//       h1{
//          font-size: 30px;
//       }

//       .top-container-right{

//          .image-3{
//             left: 650px;
//             top: 140px;

//          }

//          .image-1{
//             top: 220px;
//             left: 800px;

//          }
//       }
//    }

//    .middle-container{
//       position: relative;

//       .middle-container-right{
//          position: absolute;
//          margin-bottom: 20px;
//          .text-1{
//             width: 500px;
//             margin-left: 30px;
//          }
         
//       }

//       span{
//          left: 520px !important;
//          bottom: 20px !important;
//       }

//    }
// }

// @media screen and (max-width: 1100px) {
//    .top-container{
//       align-items: center !important;

//       .top-container-left{
//          h1{
//             font-size: 35px;
//          }
//       }
//       .top-container-right{

//          .image-3{
//             left: 560px;
//             width: 200px;
//             height: 300px;
//             top: 160px;

//          }
//          .image-1{
//             width: 200px;
//             height: 300px;
//             left: 780px;
//             top: 160px;
//             transform: none;

//          }
//    }
// }

// .middle-container{
//    display: flex !important;
//    flex-direction: column !important;

//    .middle-left-container{
//       width: 50vw !important;
//       top: 40px;
//    }

//    .text-1{
//       margin-left: 90px !important;
//    }
// }
// }

// @media screen and (max-width: 1025px) {
//    .top-container{
//       display: flex;
//       flex-direction: column !important;
//       height: 1000px;

//       .top-container-right{

//          .image-3{
//             left: 320px;
//             width: 150px;
//             height: 300px;
//             top: 500px;

//          }
//          .image-1{
//             left: 500px;
//             width: 150px;
//             height: 300px;
//             top: 500px;
//             transform: none;

//          }
//    }
//    }

//    .middle-container{
//       display: flex !important;
//       flex-direction: column !important;

//       .middle-left-container{
//          top: 700px;
//          align-items: center;
//       }

//       .middle-container-right{
//          align-items: center;
         
        
//          .text{
//             font-size: 15px !important;
//             width: 500px;
//             align-items: center;
//          }
//       }
//    }

// }
