.about-container{
   display: flex;
   flex-direction: column;

   .top-container{
      display: flex;
      flex-direction: row;
      width: 100%;

   }

   .top-container-left{
      display: flex;
      flex-direction: column;
      max-width: 50vw;
      padding: 50px;
      gap: 4px;

      button{
         margin-top: 30px;
      }
   }

   .top-container-right{
      
      .image-3{
         box-sizing: border-box;

position: absolute;
width: 264.37px;
height: 315.86px;
left: 1000px;
top: 140px;

/* Pink */

border: 1px solid #F4C0DB;
border-radius: 5px;
object-fit: cover;
      }

      .image-1{
         box-sizing: border-box;

position: absolute;
width: 264.37px;
height: 315.86px;
top: 270.74px;
left: 1200px;
transform: rotate(-4.56deg);

/* Pink */

border: 1px solid #F4C0DB;
border-radius: 5px;
object-fit: cover;
      }
   }

   .middle-container{
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      height: 820px;

      .middle-left-container{
         position: relative;
         align-items: center;
         left: 70px;
         width: 50vw;

         .first-circle{
            display: flex;
            flex-direction: column;
         }
         
         .circle-1 {
            position: absolute;
            display: flex;
            flex-direction: row;
            top: 129px;
            left: 71px;
            gap: 5px;
            padding: 3px;
            margin-bottom: 2px;
   
         }

         .circle-2{
            position: absolute;
            display: flex;
            flex-direction: row;
            top: 143px;
            left: 69px;
            gap: 5px;
            padding: 5px;
            margin-bottom: 2px;
         }

         .circle-3{
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 128px;
            left: 55px;
            gap: 5px;
            padding: 5px;
         }
         .circle-4{
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 130px;
            left: 40px;
            gap: 5px;
            padding: 3px;
         }

         // .double-circle{
         //    display: flex;
         //    flex-direction: row;
         // }

         .circle{
            width: 11px;
            height: 11px;
            border: 1px solid var(--green);
            border-radius: 20px;
            background-color: var(--green);
            transform: rotate(-90deg);
            gap: 20px;
         }

         .about-image{

      box-sizing: border-box;
      
      position: absolute;
      width: 300px;
      height: 315.86px;
      left: 75px;
      top: 163px;
      /* Pink */
      
      border: 1px solid #F4C0DB;
      border-radius: 5px;
      object-fit: cover;
            
         }

         .square{
            position: absolute;
            width: 300px;
            height: 300px;
            background-color: var(--green);
            top: 190px;
            left: 82px;
         }
      }

      .middle-container-right{
         position: absolute;
         display: flex;
         flex-direction: column;
         text-align:justify ;
         right: 100px;
         top: 150px;
         width: 50vw;
         gap: 10px;

         .text{
            font-family: var(--medium-font) !important;
            font-size: 15px;
         }
      }
      
   }
}