.top-detail-container{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 80px;
}



.meal-detail-right-top-container{
   display: flex;
   flex-direction: column;
   gap: 10px;
}

