.title-cat{
   h1{
      font-family: var(--bold-font);
      font-size: 40px;
   }

   .under{
      border-bottom: 8px solid #51DFAD;
      display: inline-block;
      line-height: 0.55;
   }
}

.title-price{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 0px;


   .price{
      background: #51DFAD;
      border-radius: 5px;
      padding: 6px 11px;
      gap: 8px;
      margin-left: 20px;
   }
}

.category{
   display: flex;
   flex-direction: row;
   gap: 3px;
   margin-top: 10px;
   font-family: var(--light-font);

}

.categories{
   text-decoration: underline;
}