.user-container{
   display: flex;
	flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 100px;
   padding-bottom: 100px;
	gap: 75px;

	.avatar{
		display: flex;
		border-radius: 100%;
		justify-content: center;

		img{
			object-fit: cover;
			border-radius: 100%;
			width: 135px;
			height: 135px;
		}
	}

   .user-name{
      text-align: center;
      font-size: 20px;
   }

	.title-container{
		display: flex;
		justify-content: center;
	}
}

.avatar-bottom{
   display: flex;
   flex-direction: column;
}
.card-container {
	background-color: var(--white);
	border-radius: 15px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: var(--black);
	padding-top: 30px;
	position: relative;
	width: 450px;
   gap: 10px;
	max-width: 100%;
	text-align: center;
}

.card-container .pro {
	color: #231E39;
	background-color: #51DFAD;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid #51DFAD;
	border-radius: 50%;
	padding: 7px;
  
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}

.skills {
	background-color: #51DFAD;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.hosted-meals-container{
	display: flex;
	flex-direction: column;
}

//RESPONSIVE

@media screen and (max-width: 1700px){
	
}

@media screen and (max-width: 1500px) {
	.user-container{
		display: flex;
		flex-direction: column;
		padding-top: 200px;

		.title-container{
			display: flex;
			justify-content: center;
		}

		.hosted-container{
			display: grid; 
			grid-template-columns: repeat(4, 1fr); 
			grid-template-rows: repeat(4, 1fr); 
			height: 700px;
				
		}
	}
}

@media screen and (max-width: 1290px) {
	.user-container{
		display: flex;
		flex-direction: column;

		.title-container{
			display: flex;
			justify-content: center;
		}

		.hosted-container{
			display: grid; 
			grid-template-columns: repeat(3, 1fr); 
			grid-template-rows: repeat(3, 1fr); 
				
		}
	}
}

@media screen and (max-width: 790px) {
	.user-container{
		display: flex;
		flex-direction: column;

		.title-container{
			display: flex;
			justify-content: center;
		}
	.hosted-container{
		display: grid;
		grid-template-columns: repeat(2, 1fr); 
		grid-template-rows: repeat(2, 1fr); 
	}
}
}

@media screen and (max-width: 530px){


		.title-container{
			h1{
				font-size: 30px ;
			}
		}
}