
.slide-in-bottom {
    animation: slide-in-bottom 0.8s ease both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.show-image {
    animation: show-image 1s ease;
}

@keyframes show-image {
    0% {
        transform: translateX(-2000px);
    }

    100% {
        transform: translateX(0px);
    }
}